{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
{% include "include/header.html" %}
<content class = "block max-w-3xl mx-auto my-12 px-6">
    <h1>{% trans "Sign Up" %}</h1>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>
    
    <form action="{% url "account_signup" %}" method = "post" id="signup_form" class = "signup">
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name = "{{ redirect_field_name }}" value = "{% url "profile_onboarding" %}">
        <button type = "submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
    
    </content>
{% endblock content %}
