<hero class="grid text-white text-center bg-gray-700 bg-cover bg-center z-10 relative bg-[url('https://live.staticflickr.com/7496/26886418744_97b4488cc7_n.jpg')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 h-full w-full"></div>
    <div class="px-10 py-24 col-start-1 row-start-1">
        <h1 class="title_b">Awesome Photos & Captions</h1>
        <p class="text-lg font-bold mb-5">Share your favourite Pictures from gallery and add a great caption</p>
        <a class="button" href="">Get Started</a>
    </div>
</hero>