{% load static %}
<aside x-show="mobileSideBarOpen" x-cloak class="md:!block order-1 md:order-2 col-span-full md:col-span-1  mr-[5%] md:mr-[20%]"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -translate-y-56"
    x-transition:enter-end="opacity-100 translate-y-0"
    >
        <section class="card p-4">
            <h2>Categories</h2>
            <ul class="hoverlist">
                {% for category in Categories %}
                <li {% if tag.slug == category.slug %}class="highlight"{% endif %} ><a href="{% url "category" category.slug %}">
                    <img class="w-8 h-8 object-cover mr-2 -mt-1" src="{{category.image.url}}" alt="">
                    <span class="text-sm font-bold">{{category.name}}</span>
                </a></li>
                {% endfor %}
            </ul>
        </section>
        <section class="card p-4">
            <div class="flex items-center">
                <img class="w-6 mr-2 -mt-3" src="{% static "images/fireheart_black.svg" %}" alt="">
                <h2>Top Posts</h2>
            </div>
            <ul class="hoverlist">
                {% for post in top_posts %}
                <li><a href="{% url "post_page" post.pk %}" class="flex items-stretch justify-between">
                    <div class="flex items-center truncate">
                    <img class="w-10 h-10 object-cover rounded-md mr-3" src="{{post.image}}" alt="">
                    {% if post.author %}
                    <img class="w-6 h-6 object-cover mr-0.5" src="{{post.author.profile.avatar}}" alt="">
                    <span class="text-sm font-bold mr-1">{{post.author.username}}</span>
                    {% else %}
                    <img class="w-6 h-6 object-cover mr-0.5" src="{% static "images/avatar_default.svg" %}" alt="">
                    <span class="text-sm font-bold mr-1">No author</span>
                    {% endif %}
                </div>
                    <span class="{% if user in post.likes.all %}font-bold{% else %}font-light{% endif %} text-sm text-gray-700">{{post.likes.count}} Like{{post.likes.count|pluralize:'s'}} / {{post.comments.count}}</span>
                </a></li>
                {% endfor %}
            </ul>
        </section>
        <section class="card p-4">
            <div class="flex items-center">
                <img class="w-6 mr-2 -mt-3" src="{% static "images/fireheart_black.svg" %}" alt="">
                <h2>Captions</h2>
            </div>
            <ul class="hoverlist">
                <li><a href="">
                    <img class="w-8 h-8 object-cover mr-2" src="{% static "images/avatar_default.svg" %}" alt="">
                    <span class="text-sm font-bold mr-1">Harry</span>
                    <span class="text-sm font-light text-gray-700">(5 likes)</span>
                </a></li>
                <li><a href="">
                    <img class="w-8 h-8 object-cover mr-2" src="{% static "images/avatar_default.svg" %}" alt="">
                    <span class="text-sm font-bold mr-1">Sam</span>
                    <span class="text-sm font-light text-gray-700">(5 likes)</span>
                </a></li>
            </ul>
        </section>
    </aside>