{% load static %}
<fade-in class="opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
{% for post in posts %}
        <article class="card">
            <div class="flex items-center justify-between px-4 py-10">
                <h3 class="text-lg font-bold w-[50%] truncate">{{post.title}}</h3>
                <div class="text-sm text-gray-500">from @<a href="" class="hover:underline">{{post.artist}}</a></div>
            </div>
            <figure>
                <a href="{% url "post_page" post.pk %}"><img class="w-full" src={{post.image}} alt=""></a>
            </figure>
            <div class="p-4 pb-2">
                {% if post.author %}
                <a class="flex items-center gap-1 mb-4" href="{% url "user_profile" post.author.username %}">
                    <img class="w-8 h-8" src="{{post.author.profile.avatar}}" alt="happy--v1"/>
                    <span class="font-bold hover:underline" >{{post.author.profile.name}}</span>
                </a>
                {% else %}
                <a class="flex items-center gap-1 mb-4" href="">
                    <img class="w-8 h-8" src="{% static "images/avatar_default.svg" %}" alt="happy--v1"/>
                    <span class="font-bold hover:underline" >no author</span>
                </a>
                {% endif %}
                <p class="text-5xl mb-10 px-4 font2">{{post.description}}</p>
                <div class="flex items-center gap-2 text-sm mb-5">
                    {% for tag in post.tags.all %}
                    <a class="bg-gray-300 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white" href="{% url "category" tag.slug %}">
                        {{tag}}
                    </a>
                    {% endfor %}
                </div>
                <div class="flex items-center justify-between text-sm px-2">
                    <a class="font-bold hover:underlined" href="{% url "post_page" post.pk %}">
                        {% if post.comments.count %}
                        Comments
                        <span class="font-light text-gray-500 ml-2">{{post.comments.count}}</span>
                        {% else %}
                            {% if user.is_authenticated %}
                            Add Comment
                            {% endif %}
                        {% endif %}
                    </a>
                    <div class="flex items-center gap-4 [&>a:hover]:underline">
                        
                        {% include "snippets/likes.html" %}

                        {% if user.is_authenticated and post.author == request.user %}
                        <a href="{% url "edit_post" post.pk %}">Edit</a>
                        <a href="{% url "delete_post" post.pk %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <div hx-get="{% if tag %}{% url "category" tag.slug%}
        {% else %}{% url "homepage" %}{% endif %}?page={{page|add:1}}"
        hx-trigger = "revealed"
        hx-target = "this"
        hx-swap = "outerHTML">
        </div>